<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>AI</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
		<ion-card-content>
			<div contenteditable="true" text-center #text>你好，世界</div>
			<!-- <button ion-button round small *ngFor="let item of list">
				{{item.word}}
			</button> -->
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-content>
			<!-- <div contenteditable="true" text-center #text>你好，世界</div> -->
			<button ion-button round small *ngFor="let item of list">
				{{item.word}}
			</button>
		</ion-card-content>
	</ion-card>
	<button ion-button (click)="post(text)" full round>
		<span *ngIf="!loading">发送</span>
		<ion-spinner *ngIf="loading"></ion-spinner>
	</button>

</ion-content>