<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>AI</ion-title>
	</ion-navbar>

</ion-header>

<ion-content padding>

	<ion-card>
		<ion-card-content>
			<div class="text" contenteditable="true" text-center #text>当你受到伤害后，你可以摸两张牌</div>
			<div class="mix" #mix [hidden]="!received" [@fade]="received?'show':'hide'">
				<canvas #canvas></canvas>
				<div class="buttons" #btnBox>
					<button ion-button round small #button *ngFor="let item of passages" (click)="skip(item.head)" [color]="item.head==0?'danger':'primary'" [attr.data-postag]="item.postag" [attr.data-head]="item.head" [attr.data-id]="item.id" [attr.data-deprel]="item.deprel">
						{{item.word}}{{item.deprel}}
					</button>
				</div>
			</div>
		</ion-card-content>
	</ion-card>

	<button ion-button (click)="getData()" full round>
		<span *ngIf="!loading">发送</span>
		<ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
	</button>

</ion-content>