<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>AI</ion-title>
	</ion-navbar>

</ion-header>

<ion-content padding>

	<ion-card>
		<ion-card-content>
			<div class="text" contenteditable="true" text-center #text>你可以将一张红色牌当【杀】使用</div>
		</ion-card-content>
	</ion-card>
	<ion-fab>
		<button ion-fab class="send" (click)="prepareData()">
			<span *ngIf="!loading">发送</span>
			<ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
		</button>
	</ion-fab>

</ion-content>