ion-header{
	background:$primary ;
	padding-top: 20px;
	.toolbar-background{
		background:$primary ;
	}
	.toolbar-title,.back-button-icon{
		color: white
	}
}
button{
	&.bar-button{
		color:white !important;
	}
	&.item{
		color:gray;
	}
}
ion-card{
	color:gray !important;
	.card-header-md{
		color:gray !important;
	}
}
ion-spinner * {
	stroke: white !important;
}
ion-badge{
	background: $twitter !important;
	border-radius: 10px !important;
	padding: 3px 5px !important;
}
.scroll-content{
	overflow: auto;
}
.bg{
	height: 15rem;
	background: $primary;
}
::-webkit-scrollbar {
	display: none;
}
.scroll-zoom-wrapper{
	height: 100%;
	position: relative;
}