ion-header{
	background:$primary ;
	padding-top: 20px;
	.toolbar-background{
		background:$primary ;
	}
	.toolbar-title,.back-button-icon{
		color: white
	}
}
button{
	&.bar-button{
		color:white !important;
	}
	&.item{
		color:gray;
	}
}
ion-card{
	color:gray !important;
	.card-header-md{
		color:gray !important;
	}
}
ion-spinner * {
	stroke: white !important;
}
.bg{
	height: 15rem;
	background: $primary;
}
// ::-webkit-scrollbar {
// 	display: none;
// }